<section id="callus" class="callus">
	<div class="callus_overlay">
		<div class="container">
			<div class="row">
				<div class="main_callus">
					<div class="col-sm-6 col-xs-12">
						<div class="single_callus">
							<div class="skypeicon_left">
								<i class="fa fa-skype"></i>
							</div>
							<div class="skypeicon_right">
								<h2>Call us on Skype!</h2>
								<h3>AND LEARN HOW TO PLAY GUITAR</h3>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<div class="single_callus_right">
							<a href="" class="btn btn-larg">MORE DETAILS</a> <a href=""
								class="btn btn-larg">CHOOSE YOUR PLAN</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>