<section id="footer_widget" class="footer_widget">
	<div class="container">
		<div class="row">
			<div class="main_widget">
				<div class="row">
					<div class="col-sm-4">
						<div class="single_widget wow fadeIn" data-wow-duration="800ms">
							<div class="footer_logo">
								<img src="assets/images/logo2.png" alt="" />
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Ut in egestas lectus. Etiam tempor odio tellus, at bibendum
								neque faucibus quis. Sed vel facilisis elit.</p>
							<p>Nullam fringilla pharetra diam non accumsan. Morbi eget
								aliquam mauris. Etiam vehicula efficitur mi.</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="single_widget wow fadeIn" data-wow-duration="800ms">
							<h4 class="footer_title">CONTACT</h4>
							<div class="separator3"></div>
							<ul>
								<li><a href=""><i class="fa fa-envelope"></i>
										info@guitarlessons.com</a></li>
								<li><a href=""><i class="fa fa-phone"></i> 0123 456 789
										0112</a></li>
								<li><a href=""><i class="fa fa-map-marker"></i>
										Greenplatz Ben 29, Germany 60435</a></li>
								<li><a href=""><i class="fa fa-fax"></i> (0012) 654 356
										445</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="single_widget wow fadeIn" data-wow-duration="800ms">
							<h4 class="footer_title">LATEST NEWS</h4>
							<div class="separator3"></div>
							<ul>
								<li class="single_latest_news">
									<p class="latest_date">02.08.2015</p>
									<p class="subtitle">Etiam tempor odio tellus.</p>
									<p class="details">Lorem ipsum dolor sit amet, consectetur
										adipiscing elit. Ut in egestas lectus. Etiam tempor odio
										tellus.</p>
								</li>

								<li class="single_latest_news">
									<p class="latest_date">02.08.2015</p>
									<p class="subtitle">Etiam tempor odio tellus.</p>
									<p class="details">Lorem ipsum dolor sit amet, consectetur
										adipiscing elit. Ut in egestas lectus. Etiam tempor odio
										tellus.</p>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
