<section id="home" class="home text-right">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-4">
					<div class="main_home_content">
						<div class="single_home">
							<div class="main_home wow fadeInUp" data-wow-duration="700ms">
								<h1>CHECK MY VIDEO</h1>
								<h1 class="subtitle">Fingerstyle guitar songs</h1>

								<div class="video_play_icon">
									<a href="https://www.youtube.com/embed/NES_AkLoZCE"><i
										class="fa fa-play-circle-o"></i></a>
								</div>

							</div>
						</div>
						<div class="single_home">
							<div class="main_home wow fadeInUp" data-wow-duration="700ms">
								<h1>CHECK MY VIDEO</h1>
								<h1 class="subtitle">Fingerstyle guitar songs</h1>

								<div class="video_play_icon">
									<a href="https://www.youtube.com/embed/_tfj9kisbeDI"><i
										class="fa fa-play-circle-o"></i></a>
								</div>

							</div>
						</div>
						<div class="single_home">
							<div class="main_home wow fadeInUp" data-wow-duration="700ms">
								<h1>CHECK MY VIDEO</h1>
								<h1 class="subtitle">Fingerstyle guitar songs</h1>

								<div class="video_play_icon">
									<a href="https://www.youtube.com/embed/_1ay1Zc1bXdwg"><i
										class="fa fa-play-circle-o"></i></a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



