<section id="service" class="service">
	<div class="container">
		<div class="row">
			<a href="#lessons" class="service_border_raund text-center"> <img
				src="images/downicon.png" alt="" />
			</a>
			<div class="main_service_area sections text-center">
				<div class="head_title text-center">
					<h2>SERVICES</h2>
					<div class="separator"></div>
					<p>In my website, you can find guitar source such as guitar
						tabs, information about guitar artists, searching video from
						Youtube.</p>
				</div>
				<div class="col-sm-4">
					<div class="single_service">
						<div class="single_service_icon">
							<i class="lnr lnr-film-play"></i>
						</div>

						<h3>SEARCHING VIDEO SERVICE</h3>
						<div class="separator"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="single_service">
						<div class="single_service_icon">
							<i class="lnr lnr-cloud-download"></i>
						</div>

						<h3>YOU CAN DOWNLOAD FREE TAB</h3>
						<div class="separator"></div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="single_service">
						<div class="single_service_icon">
							<i class="lnr lnr-home"></i>
						</div>

						<h3>GUITAR FORUM (BLOG)</h3>
						<div class="separator"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

