<section id="testimonial" class="testimonial">
	<div class="container">
		<div class="row">
			<div class="main_testimonial_area sections text-center">
				<div class="head_title">
					<h2>TESTIMONIALS</h2>
					<div class="separator"></div>
				</div>
				<div class="main_testimonial_content">
					<div class="single_testimonial">
						<div class="single_test_thumbnail">
							<img class="img-circle img-responsive"
								src="images/man3.png" alt="" />
						</div>
						<div class="single_test_content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Ut in egestas lectus. Etiam tempor odio tellus, at bibendum
								neque faucibus quis. Sed vel facilisis elit. Nullam fringilla
								pharetra diam non accumsan. Morbi eget aliquam mauris. Etiam
								vehicula efficitur mi.</p>

							<div class="single_author_content">
								<h2>Andreea Koronikova</h2>
								<p>Music Teacher</p>
							</div>
						</div>
					</div>
					<div class="single_testimonial">
						<div class="single_test_thumbnail">
							<img class="img-circle img-responsive"
								src="images/man3.png" alt="" />
						</div>
						<div class="single_test_content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Ut in egestas lectus. Etiam tempor odio tellus, at bibendum
								neque faucibus quis. Sed vel facilisis elit. Nullam fringilla
								pharetra diam non accumsan. Morbi eget aliquam mauris. Etiam
								vehicula efficitur mi.</p>

							<div class="single_author_content">
								<h2>Andreea Koronikova</h2>
								<p>Music Teacher</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
