<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<object th:replace="fragments/head :: head" th:remove="tag"></object>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!-- Nav fragment -->
	<object th:replace="fragments/specialNav :: nav"></object>
	<!-- home fragment -->
	<object th:replace="fragments/homesection :: section"></object>
	<section id="portfolio" class="portfolio">
		<div class="container">
			<div class="row">
				<div class="main_portfolio sections">
					<div class="head_title text-center">
						<h2>Edit Artist</h2>
						<div>
							<form th:object="${artist}" th:action="@{saveArtist}" action="#"
								method="post">
								<input type="hidden" id="id" th:field="*{artistId}" /> <label
									for="firstName">First Name</label> <input type="text"
									id="firstName" th:field="*{firstName}" /> <label
									for="lastName">Last Name</label> <input type="text"
									id="lastName" th:field="*{lastName}" /> <label for="country">Country</label>
								<input type="text" id="country" th:field="*{country}" /> <label
									for="birthday">Birthday</label> <input type="date"
									id="birthday" th:field="*{birthday}" /> <label
									for="youtubeChannel">Youtube URL</label> <input type="url"
									id="youtubeChannel" th:field="*{youtubeChannel}" /> <input
									type="submit" value="Save"></input>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer fragments -->
	<object th:replace="fragments/footerwidget :: section"></object>
	<object th:replace="fragments/footer :: footer"></object>

	<!-- START SCROLL TO TOP  -->

	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div>

	<!--javascript fragment-->
	<object th:replace="fragments/javascriptfragment :: script"></object>
</body>
</html>
