<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<object th:replace="fragments/head :: head" th:remove="tag"></object>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!--Home page style-->
	<nav>
		<div class="container">
			<div class="nav-top clearfix">
				<div class="logo">
					<a href="" class="navbar-brand"><img
						src="assets/images/logo.png" alt="Logo" /></a>
				</div>

				<div class="head_top_social pull-right">
					<ul class="list-inline">
						<li><a href=""><i class="fa fa-skype"></i>Skype
								groups(Not available)</a></li>
						<li><a href=""><i class="fa fa-phone"></i>0442310789</a></li>
						<li class="top_socail"><a
							href="https://www.youtube.com/user/duongthienlee1/videos?view_as=subscriber"><i
								class="fa fa-youtube"></i></a> <a
							href="https://plus.google.com/u/0/+DuongThienLy"><i
								class="fa fa-google-plus"></i></a> <a
							href="https://www.pinterest.com/duongthienl/"><i
								class="fa fa-pinterest-p"></i></a></li>

					</ul>
				</div>

				<button class="navbar-toggle" data-target=".navbar-collapse"
					data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
				</button>

			</div>
		</div>

		<div class="main-nav navbar-collapse collapse">
			<div class="container">
				<div class="minilogo">
					<a href="/index" class="navbar-brand"><img
						src="assets/images/logo2.png" alt="Logo" /></a>
				</div>
				<ul class="nav nav-justified">
					<li><a href="/home">HOME</a></li>
					<li><a href="/service">ABOUT ME</a></li>
					<li><a href="/lessons">Guitar source</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="/blog">BLOG</a></li>
					<li><a href="/contact">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<object th:replace="fragments/homesection :: section"></object>
	<section id="portfolio" class="portfolio">
		<div class="container">
			<div class="row">
				<div class="main_portfolio sections">
					<div class="head_title text-center">
						<h2>Edit Tab</h2>
						<div>
							<form th:object="${tab}" th:action="@{saveTab}" action="#"
								method="post">
								<input type="hidden" id="id" th:field="*{ID}" /> 
								
								<label for="song">Song</label> 
								<input type="text" id="song" th:field="*{song}" /> 
								<input type="hidden" id="artistId" th:field="*{artist.artistId}" />
								<label for="rating">Rating</label> 
								<input type="number" id="rating" th:field="*{rating}" />
								
								<label for="rating">Type</label> 
								<input type="text" id="type" th:field="*{type}" />
								
								<label for="downloaded">Downloaded</label> 
								<input type="number" id="downloaded" th:field="*{downloaded}" />
								
								<label for="url">URL</label> 
								<input type="url" id="url" th:field="*{url}" />
								
								<input type="submit" value="Save"></input>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer fragments -->
	<object th:replace="fragments/footerwidget :: section"></object>
	<object th:replace="fragments/footer :: footer"></object>

	<!-- START SCROLL TO TOP  -->

	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div>

	<!--javascript fragment-->
	<object th:replace="fragments/javascriptfragment :: script"></object>
</body>
</html>
