<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<object th:replace="fragments/head :: head" th:remove="tag"></object>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!-- Nav fragment -->
	<object th:replace="fragments/specialNav :: nav"></object>
	<!-- home fragment -->
	<object th:replace="fragments/homesection :: section"></object>
	<section id="portfolio" class="portfolio">
		<div class="container">
			<div class="row">
				<div class="main_portfolio sections">
					<div class="head_title text-center">
						<h2>Edit Tab</h2>
						<div>
							<form class="form-horizontal" th:object="${tab}"
								th:action="@{saveTab}" action="#" method="post">
								<div class="form-group">
									<input type="hidden" id="id" th:field="*{ID}" /> <label
										class="control-label col-sm-4" for="song">Song</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="song"
											th:field="*{song}" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4" for="artist">Artist</label>
									<div class="col-sm-4">
										<select class="form-control" id="artistList"
											th:field="*{artist}">
											<option th:each="artist: ${artists}"
												th:value="${artist.artistId}"
												th:text="${artist.firstName} + ' ' + ${artist.lastName}">
											</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4" for="rating">Rating</label>
									<div class="col-sm-4">
										<input class="form-control" type="number" id="rating"
											th:field="*{rating}" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4" for="type">Type</label>
									<div class="col-sm-4">
										<input class="form-control" type="text" id="type"
											th:field="*{type}" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4" for="downloaded">Downloaded</label>
									<div class="col-sm-4">
										<input class="form-control" type="number" id="downloaded"
											th:field="*{downloaded}" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4" for="url">URL</label>
									<div class="col-sm-4">
										<input class="form-control" type="url" id="url"
											th:field="*{url}" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-4">
										<input type="submit" value="Save" class="btn"></input>
									</div>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer fragments -->
	<object th:replace="fragments/footerwidget :: section"></object>
	<object th:replace="fragments/footer :: footer"></object>

	<!-- START SCROLL TO TOP  -->

	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div>

	<!--javascript fragment-->
	<object th:replace="fragments/javascriptfragment :: script"></object>
</body>
</html>
