<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--<![endif]-->
<head>
<object th:replace="fragments/head :: head" th:remove="tag"></object>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!-- Nav fragment -->
	<object th:replace="fragments/specialNav :: nav"></object>

	<div class="head_title text-center"></div>
	<section id="portfolio" class="portfolio">
		<div class="container">
			<div class="row">
				<div class="main_portfolio sections">
					<div class="text-center">
						<h2>You need to login !</h2>
						<div th:if="${param.error}">Invalid username and password.</div>
						<div th:if="${param.logout}">You have been logged out.</div>
					</div>

					<form class="form-horizontal" th:action="@{/login}" method="post">
						<div class="form-group">
							<label class="control-label col-sm-4" for="email">Email:</label>
							<div class="col-sm-4">
								<input type="email" class="form-control" name="email" id="email"
									placeholder="Enter email">
							</div>

						</div>
						<div class="form-group">
							<label class="control-label col-sm-4" for="password">Password:</label>
							<div class="col-sm-4">
								<input type="password" class="form-control" name="password"
									id="password" placeholder="Enter password">
							</div>

						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
								<input type="submit" value="Log In" class="btn" />
							</div>

						</div>
					</form>

				</div>
			</div>
		</div>
	</section>

	<!-- Footer fragments -->
	<object th:replace="fragments/footerwidget :: section"></object>
	<object th:replace="fragments/footer :: footer"></object>

	<!-- START SCROLL TO TOP  -->

	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div>

	<!--javascript fragment-->
	<object th:replace="fragments/javascriptfragment :: script"></object>
</body>
</html>
