<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search video</title>
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-lg-6">
				<div class="portlet light portlet-fit ">
					<div class="portlet-title">
						<div class="caption">
							<i class=" icon-layers font-green"></i> <span
								class="caption-subject font-green bold uppercase">YouTube
								Search Results</span>
							<div class="caption-desc font-grey-cascade">
								<span th:text="${numberOfVideos}"></span> videos match "<span
									th:text="${youtubeSearchCriteria.queryTerm}"></span>"
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div class="mt-element-list">
							<div
								class="mt-list-head list-news ext-1 font-white bg-green-sharp">
								<div class="list-head-title-container">
									<h3 class="list-title">Videos</h3>
								</div>
								<div class="list-count pull-right bg-blue"
									th:text="${numberOfVideos}"></div>
							</div>
							<div class="mt-list-container list-news ext-1">
								<ul>
									<li class="mt-list-item"
										th:each="video,iterationStatus : ${videos}">
										<div class="list-icon-container">
											<a th:href="${video.url}" target="_blank"> <i
												class="fa fa-angle-right"></i>
											</a>
										</div>
										<div class="list-thumb">
											<a th:href="${video.url}" target="_blank"> <img alt=""
												th:src="${video.thumbnailUrl}" />
											</a>
										</div>
										<div class="list-datetime bold uppercase font-blue"
											th:text="${video.publishDate}"></div>
										<div class="list-item-content">
											<h4 class="uppercase">
												<a th:href="${video.url}" target="_blank"
													th:text="${video.title}"></a>
											</h4>
											<p th:text="${video.description}"></p>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div style="margin-top: 30px">
							<button type="button" class="btn btn-primary"
								onclick="document.location='./youtube'">New Search</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>