<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--<![endif]-->
<head>
<object th:replace="fragments/head :: head" th:remove="tag"></object>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!-- Nav fragment -->
	<object th:replace="fragments/specialNav :: nav"></object>
	<!-- home fragment -->
	<object th:replace="fragments/homesection :: section"></object>

	<section id="portfolio" class="portfolio">
		<div class="container">
			<div class="row">
				<div class="main_portfolio sections">
					<div class="head_title text-center">
						<h2>Explore Tab catalog</h2>
					</div>
					<table class="table">
						<tr>
							<th>Song</th>
							<th>Artist</th>
							<th>Rating</th>
							<th>Type</th>
							<th>Number of downloaded</th>
							<th sec:authorize="hasAuthority('ROLE_ADMIN')"></th>
							<th sec:authorize="hasAuthority('ROLE_ADMIN')"></th>
						</tr>

						<tr th:each="tab : ${tabs}">
							<td><a th:href="@{(${tab.url})}"><span
									th:text="${tab.song}"></span></a></td>
							<td
								th:text="${tab.artist.firstName} + ' ' +${tab.artist.lastName} "></td>
							<td th:text="${tab.rating}"></td>
							<td th:text="${tab.type}"></td>
							<td th:text="${tab.downloaded}"></td>

							<td sec:authorize="hasAuthority('ROLE_ADMIN')"><a
								
								th:href="@{/editTab{id}(id=${tab.ID})}"><button
										class="btn-danger">Edit</button></a></td>

							<td sec:authorize="hasAuthority('ROLE_ADMIN')"><a
								th:href="@{/deleteTab/{id}(id=${tab.ID})}"
								><button class="btn-danger">Delete</button></a></td>
						</tr>
					</table>
					<a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/addTab"><button
							class="btn">Add Tab</button></a>
				</div>
			</div>
		</div>
	</section>

	<!--Footer fragments-->
	<object th:replace="fragments/footerwidget :: section"></object>
	<object th:replace="fragments/footer :: footer"></object>

	<!-- START SCROLL TO TOP  -->

	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div>

	<!--javascript fragment-->
	<object th:replace="fragments/javascriptfragment :: script"></object>
</body>
</html>
